Importing relevant Libraries for  the project

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Reading the Csv file "flights.csv" and  printing head

In [5]:
df = pd.read_csv('flight.csv')
df.head()

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg
0,0,3 Jan 2022,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub
1,1,4 Jan 2022,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub
2,2,5 Jan 2022,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub
3,3,8 Jan 2022,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o
4,4,12 Jan 2022,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o

df info for more details about  the data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   acc.date    2500 non-null   object
 2   type        2500 non-null   object
 3   reg         2408 non-null   object
 4   operator    2486 non-null   object
 5   fat         2488 non-null   object
 6   location    2500 non-null   object
 7   dmg         2500 non-null   object
dtypes: int64(1), object(7)
memory usage: 156.4+ KB

In [7]:
#checking out df columns 
df.columns

Index(['Unnamed: 0', 'acc.date', 'type', 'reg', 'operator', 'fat', 'location',
       'dmg'],
      dtype='object')

Making Copy of `df` for the Cleaning and renamed it to `dfc`

In [13]:
# Making  the copy of  the data form cleaning
dfc = df.copy()

In [ ]:
# cleaning columns i.e striping spaces and replacing them with underscore and and getting to lowercase
dfc.columns = dfc.columns.str.strip().str.replace(" ", "_").str.lower()

In [32]:
dfc.columns

Index(['unnamed:_0', 'acc.date', 'type', 'reg', 'operator', 'fat', 'location',
       'dmg'],
      dtype='object')

Dropping `unnamed:_01` column:  The column seems to be a duplicated indexing maybe as a result of concat. I will drop it as we have a proper indexing showing all the 2500 entries

In [ ]:
#Unnamed column seems to be  duplicated indexing and every index exists twice
dfc['unnamed:_0'].value_counts()

unnamed:_0
1249    2
0       2
1233    2
1232    2
1231    2
       ..
6       2
5       2
4       2
3       2
2       2
Name: count, Length: 1250, dtype: int64

In [40]:
# Dropping dfc['unnamed:_0']
dfc = dfc.drop(columns=["unnamed:_0"])

In [41]:
dfc.columns

Index(['acc.date', 'type', 'reg', 'operator', 'fat', 'location', 'dmg'], dtype='object')

In [42]:
#Renaming 'acc.date' according to rules(snakecase)
dfc = dfc.rename(columns={'acc.date': 'acc_date'})

In [43]:
dfc.columns

Index(['acc_date', 'type', 'reg', 'operator', 'fat', 'location', 'dmg'], dtype='object')

In [ ]:
# Checking for any  cleaning  needs
df.isna().any()

Unnamed: 0    False
acc.date      False
type          False
reg            True
operator       True
fat            True
location      False
dmg           False
dtype: bool

In [ ]:
# cumulative today for  any missing data
df.isna().sum()

Unnamed: 0     0
acc.date       0
type           0
reg           92
operator      14
fat           12
location       0
dmg            0
dtype: int64